{% extends 'base.html' %}
{% block content %}

<h1>Puppy List</h1>

{% for puppy in puppies %}
<div class="card">
  <a href="{% url 'detail' puppy.id %}">
    <div class="card-content">
      <span class="card-title">{{ puppy.name }}</span>
      <p>Breed: {{ puppy.breed }}</p>
      <p>Color: {{ puppy.color }}</p>
      <p>Size: {{ puppy.size }}</p>
      <p>Gender: {{ puppy.gender }}</p>

      {% if puppy.age > 0 %}
      <p>Age: Adult puppy {{ puppy.age }} years old</p>
      {% else %}
      <p>Age: Puppy</p>
      {% endif %}
    </div>
  </a>
</div>
{% endfor %}

{% endblock %}